main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }

body{
  background-color: lightgrey;
  color: darkgreen;
  font-family:monospace;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
  padding-bottom: 10px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 40px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 15px;
}

.content{
  display: flex;
  flex-direction: column;
  padding:40px;
}

.content .section-column{
  margin: 20px;
  padding:20px;
  display: flex;
  flex-direction: column;
  border: 15px solid green;
}

.content .section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content .section-row img{
  margin-top:20px;
  margin-bottom:10px;
  display: flex;
  flex-direction: row;
  max-width: 350px;
}

.content .section-row img:hover {
  border-radius: 3px;
  box-shadow: 5px 10px 8px rgb(128, 128, 128);
  transition: all 200ms ease-out;
  cursor:pointer;
}

nav a:hover {
  text-shadow: 5px 10px 8px black;
  transition: all 200ms ease-out;  
}

.section h3{
  padding-top: 5px;
}

nav {
    display: flex;
    font-size: 20px;
}

nav a {
    padding-left: 30px;
}

.winter {
    height: 400px;
    width: 100%;
    background-image: url("../images/winter-trees.jpg");
    background-size: cover;
    background-position: center;
}

.img-with-text {
  text-align:center;
  width:auto;
}

.img-with-text img {
  display: darkgrey;
  margin: 0 auto;
}

#headshot {
    width: 50px;
    height: auto;
    border-radius: 20px;
}

#module-1-challenge{
  max-width: 550px;
}
  
/* Header and nav elements are stacked on top of each other at 825px or smaller */
@media screen and (max-width: 825px) {

    nav,
    header {
      flex-direction: column;
      align-items: center;
    }

    h1 {
        padding-bottom: 20px;
    }

    nav {
      padding-top: 20px;
    }

    nav a {
        padding-top: 0px;
        padding-left: 0px;
    }

    .content{
      flex-direction: column;
    }
    
    .content .section-row{
      flex-direction: column;
    }

  }

/* "My Work" elements are stacked on top of each other at px or smaller */
  @media screen and (max-width: 1345px) {

    #my-work-row{
      flex-direction: column;
    }

  }